<div>
    <h1>Empleados</h1>
    <table class="table table-info">
        <thead>
            <tr>
                <th>apellido</th>
                <th>oficio</th>
                <th>detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empleados">
                <td>{{emp.apellido}}</td>
                <td>{{emp.oficio}}</td>
                <td><a [routerLink]="['/detalles' , emp.idEmpleado]" class="btn btn-success">Detalles</a></td>
            </tr>
        </tbody>
    </table>
</div>
